<div class="comments">
    {{#each this}}
    <div class="card">
        <h6 class="card-header">{{comment_text}}</h6>
            <section class="comment card-body">
                <div class="text">
                -{{user.username}}, {{format_date created_at}} 
                </div>
            </section>
    </div>
    {{/each}}
</div>