{{#each posts}}
  <div class="post-info">
    <h3>{{this.title}}</h3>
    <p>{{this.content}}</p>
    <!-- Add additional post details and content here -->
  </div>
{{else}}
  <p>No posts found.</p>
{{/each}}
