body
  {
    background-color: rgb(209, 242, 255);
    font-family: 'Josefin Sans', sans-serif;
  }

.navbar-brand
  {
    font-size: 350%;
  }

.navbar
  {
    background-color: rgb(106, 171, 255);
  }

.navbar-nav
  {
    font-size: 150%;
    
  }

.navbar-light .navbar-nav .nav-link:hover 
  {
    color: rgba(235, 234, 234, 0.89);
  }
  


a:hover
  {
    color: rgb(10, 0, 143);
  }

.card
  {
    background-color: rgb(106, 171, 255);
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
    color: black;
  }

.card-header
  {
    background-color: rgb(208, 209, 209);
    border-radius: 30px !important;
  }

.h4
  {
    color: black;
  }

.card-body
  {
    font-size: 15px;
    color: black;
    font-weight:600;
  }
.link
  {
    color: black;
  }

.form-input
  {
    width: 100%;
    border-radius: 10px;
  }

.btn
  {
    font-weight: 500;
    margin-left: 30px;
  }

.btn:hover
  {
    color: rgb(208, 209, 209);
  }

h2
  {
    margin-left: 30px;
    margin-top: 40px;
  }

.delete-post-btn:hover
  {
    color: red;
  }

.login-link
  {
    color: black;
    font-weight: 600;
    text-decoration: underline;
  }

.login-link:hover
  {
    color: blueviolet;
  }

.form-group
  {
    margin-top: 30px;
  }